<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.web.mapper.EmpMapper">
	<select id = "findAll" resultType="Employees" parameterType="searchVO">
		SELECT *
		FROM employees
		<where>
		   <if test="departmentId != null">and department_id = #{departmentId}</if>
		   <if test="salary != null">and salary <![CDATA[<]]> #{salary}</if>
		   <if test="ids != null"> and employee_id in
			  <foreach collection="ids" item="id" open="(" close=")" separator=",">
		 		#{id}
		 	  </foreach>
		   </if>
		</where>
	</select>
	<select id = "findAllToMap" resultType="map">
		SELECT *
		FROM employees
	</select>
	
	<select id="getCount" resultType="employees">
		SELECT department_id, COUNT(*) AS cnt
		FROM employees
		GROUP BY department_id
	</select>
	<insert id="insert" parameterType="employees">
		INSERT INTO employees(employee_id,
		                      last_name,
		                      email,
		                      hire_date,
		                      job_id)
		 VALUES(
		 #{employeeId},
		 #{lastName},
		 #{email},
		 #{hireDate},
		 #{jobId}
		 )
	</insert>
	
	<update id="updateFirstName" parameterType="employees">
	    UPDATE employees
	    SET first_name = #{firstName}
	    WHERE employee_id = #{employeeId}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM employees 
		WHERE employee_id = #{employeeId}
	</delete>
	
	<resultMap type="employees" id="employeeMap">
	  <id column="employee_id" property="employeeId"/>
	  <result column="first_name" property="firstName"/>
	  <result column="last_name" property="lastName"/>
	  <!-- 일대일일떄 -->
	  <association property="department">
	       <result column="department_name" property="departmentName"/>
	  <!-- 일대다일떄 -->
	  <!-- <collection property=""></collection> -->
	  </association>
	</resultMap>
	
	<select id="findEmplyoeeDepartment" resultMap ="employeeMap">
	  SELECT e.*, 
	         d.department_id,
	         d.department_name,
	         d.manager_id,
	         d.location_id
	    FROM employees e JOIN departments d
	                       ON (e.department_id = d.department_id)
	</select>
</mapper>